.main-title {
  color: black;
  font-size: 46px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1001;

}

.landing-title-container {
  margin-left: 100px;
}

.main-title {
  color: #2D3142;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-weight: bold;
}

@media (max-width: 769px) {
  .main-container {
    margin-top: 185px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 20px;
  }
  /* @media (min-width: 0) and (max-width: 768px) {
  .main-container {
    margin-top: 185px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 20px;
  }
  .student-or-tutor-container {
    margin-top: 60px;
  }
  .footer-links {
    margin-top: 60px;
    color: blue;
  }
} */

  .landing-title-container {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .main-prompt {
    width: auto;
  }
  .footer-links {
    font-size: 16px;
    margin-top: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    margin-top: 185px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 20px;
  }

  .landing-title-container {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .main-prompt {
    width: auto;
  }
  .footer-links {
    font-size: 16px;
    margin-top: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}


.main-title {
  display: inline-block;
  padding-left: 100px;
  margin-right: 50px;
}

.main-prompt {
  font-size: 24px;
  color: black;
  width: 500px;
  text-align: center;
}

.student-or-tutor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;

}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container button {
  background-color: #FFFFFF;
  width: 150px;
  color: #2D3142;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid #2D3142;
  cursor: pointer;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.buttons-container button:hover {
  opacity: 0.8;
  width: 160px;
}

.main-title span {
  color: #EF8354;

}

.footer-links {
  min-width: 300px;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  color: #2D3142;
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  bottom: 150px;
}

.footer-links span {
  margin: 0 15px;
}